# Maven projects
/gse-afs-ext-base/target/
/gse-app/target/
/gse-demo/target/
/gse-network-explorer/target/
/gse-network-map/target/
/gse-security-analysis/target/
/gse-spi/target/
/gse-util/target/
/target/
/gse-copypaste/gse-copypaste-afs-remote/target/
/gse-copypaste/gse-copypaste-afs-server/target/
/gse-copypaste/gse-copypaste-afs-local/target/
/gse-copypaste/gse-copypaste-afs/target/
/gse-copypaste/target/

# IntelliJ
*.iml
/.idea

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs

# Log files
powsybl.log

