name: CI

on: [push]

jobs:
  build:
    name: Build OS ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Set up JDK 1.8
        uses: actions/setup-java@master
        with:
          java-version: 1.8
          java-package: jdk+fx

      - name: Checkout powsybl-afs
        uses: actions/checkout@v1
        with:
          repository: powsybl/powsybl-afs
          ref: refs/heads/master

      - name: Build powsybl-afs with Maven
        run: mvn --batch-mode -DskipTests install
        working-directory: ../powsybl-afs

      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Build with Maven
        run: mvn --batch-mode package

      - name: Run SonarCloud analysis
        if: matrix.os == 'ubuntu-latest'
        run: >
          mvn --batch-mode -Pjacoco verify sonar:sonar
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.organization=powsybl-ci-github
          -Dsonar.projectKey=com.powsybl:powsybl-gse
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
